* {
    overflow: auto;
}

body {
    background-color: #8BA1BB;
    font-family: Arial;
    margin: 0;
}

div.content {
    background-color: white;
    margin: 40px 8px 80px 8px;
    padding: 0px 8px 30px 8px;
    /*min-width: 371px; */
    box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.1);
    overflow: visible;
}

h1 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 12px;
}

p.description {
    text-align: center;
    max-width: 400px;
    display: inline-block;
    font-size: 14px;
}

.center {
    text-align: center;
    width: 100%;
}

div.category {
    margin-bottom: 0px;
    margin-top: 0px;
    overflow: visible;
}

p.category {
    background-color: black;
    color: white;
    display: inline-block;
    margin-top: -20px;
    margin-bottom: 0px;
    padding: 8px 20px;
    font-weight: bold;
    font-size: 16px;
}

div.seprator {
    background-color: black;
    height: 1px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

table.info {
    position: absolute;
    bottom:0;
    width: 100%;
    color: white;
    background-color: #6C829DC0;
    height: 50px;
}
div.info {
    position: relative;
}

table.info td {
    text-align: center;
    vertical-align: top;
    font-size: 12px;
}

table.info th {
    vertical-align: bottom;
    padding: 8px;
    font-size: 14px;
}

img.info {
    display: block;
    max-height: 400px;
    object-fit: cover;
    min-height: 200px;
    background-color: lightgray;
}

div.col {
    width: 100%;
    margin-top: 20px;
}

div.col h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 5px solid #6C829D;
    padding-bottom: 5px;
}

div.col1 {
    display: inline-block;
    margin-bottom: 20px;
}

div.col2 {
    /*float: right; */
}

div.ingredients p {
    border: 1px solid lightgray;
    color: gray;
    font-size: 14px;
    padding: 8px 0px;
    margin-top: 4px;
    margin-bottom: 0;
    text-align: center;
}

table.instruction p.number {
    background-color: #6C829D;
    color: white;
    font-size: 14px;
    font-weight: bold;
    width: 25px;
    height: 25px;
    text-align: center;
    padding-top: 4px;
    box-sizing: border-box;
    border-radius: 50px;
    margin: 0;
}

table.instruction td.instruction_step {
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 14px;
}

table.instruction td {
    vertical-align: top;
}

table.instruction tr {
    height: 50px;
}

/* Desktop styles */
@media only screen and (min-width: 768px) {
    div.content {
        margin: 60px 10% 80px 10%;
        padding: 0px 30px 30px 30px;
        min-width: 371px; 
        max-width: 650px;
    }
    
    table.info {
        height: 80px;
    }
    
    table.info td {
        font-size: 14px;
    }

    table.info th {
        font-size: 16px;
    }
        
    div.col {
        width: 45%;
    }

    div.col1 {
        margin-right: 10%;
    }

    div.col2 {
        float: right;
    }
}

/* very large screen*/
@media only screen and (min-width: 900px) {
    div.content {
        margin-left: auto;
        margin-right: auto;
        max-width: 650px;
    }
}
